body{
	margin:0;
	padding:0;
}

html{
	margin:0;
	padding: 0;
}
label{
	width:100%;
	display: block;
}
select{
	width: 60%;
}
button{
	width: 30%;
}

#container {
	float: right;
    margin: 0px auto;
    width: 80%;
    min-height: 100vh;
    background-color: green;
}

#videoElement {
    width: 100%;
    height: auto;
    background-color: #666;
}

#option{
	width: 20%;
	float: left;
	background-color: purple;
	height: 70vh;
}

#map{
	float: left;
	width: 20%;
	height: 15vh;
	background-color: red;
}